/* The sidebar menu */
.sidebar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 3;
  top: 0px;
  left: -310px;
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 5px 10px 20px  rgba(0,0,0,0.7);
}


#loader-gif{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #337cad;
  z-index: 7;
  columns: white;
}

#image-loader-div{
  z-index: 6;
  position: relative;
}

#image-loader-div img{
  width: 25%;
  position: relative;
  top: 200px;
}

/* The sidebar links */
.sidebar a {
  padding-left: 32px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: block;
  transition: 0.3s;

}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #44c3f3;
  transition: ease-in 0.3s;
  text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 30px;
  cursor: pointer;
  background-color: #337cad;
  color: rgb(255, 255, 255);
  padding: 10px 10px;
  border: none;
  position: relative;
  left: 2px;
  z-index: 4;
}

.openbtn:hover {
  color: #ffdb0e;
  transition: ease-in 0.3s;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  /* If you want a transition effect */
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }

}

#div-top {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #337cad;
  box-shadow: 0px 0px 18px 2px #5e5e5e;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 2;
  align-items: center;
  align-self: center;
  justify-self: center;

}

@media screen and (max-width: 780px) {
  #imagetct {
    top: -60px;
    float: right;
  }
  #div-top{
    height: 70px;
  }

  #image-loader-div img{
    width: 30%;
    top: 20px;
  }
}


#imageTop {
  border-radius: 100px;
  padding: 5px;
  right: 0px;
}

@media screen and (max-width: 600px) {
  #imageTop {
    float: right;
    border-radius: 80px;
    width: 19%;
  }

  #image-loader-div img{
    width: 70%;
    top: 150px;
  }

  #img-small {
    position: relative;
    right: 5px;
    margin: 5px;
  }

  #hwords {
    display: none;
  }

  #imagetct {
    position: absolute;
    top: 0px;
    float: right;
  }

  .riverHeading {
    float: right;
    position: relative;
    top: 0;
    color: white;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

}

#img-small {
  display: none;
}

.closebtn a {
  text-decoration: none;

}

.closebtn:hover {
  text-decoration: none;
  color: #337cad;
}

.riverHeading {
  color: white;
  font-size: 22px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.linkinclientinfo {
  text-decoration: none;
  color: black;
}

.linkinclientinfo:hover {
  color: #44c3f3;
  transition: ease-in 0.3s;
  text-decoration: none;
}

/*Dashboard*/
#Stock {
  color: white;
  width: 98%;
  height: 258px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(22, 79, 153);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#InvStat {
  color: white;
  width: 98%;
  height: 258px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(56, 177, 207);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#charty {
  width: 98%;
  height: 258px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(24, 28, 31);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#rev1 {
  width: 98%;
  font-size: 18px;
  padding: 10px;
  background-color: rgb(56, 177, 207);
  color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.1) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#rev2 {
  width: 98%;
  font-size: 18px;
  padding: 10px;
  background-color: rgb(22, 79, 153);
  color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.1) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#rev3 {
  width: 98%;
  font-size: 18px;
  padding: 10px;
  background-color: rgb(51, 124, 173);
  color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.1) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

@media screen and (max-width: 600px){
  #rev1{
    height: 50px;
    font-size: 16px;
  }
  #rev2{
    height: 50px;
    font-size: 16px;
  }
  #rev3{
    height: 50px;
    font-size: 16px;
  }
  .smallscreen-alignright{
    float: right;
  }
  .smallscreen-alignleft{
    float: left;
  }
}

.nav-iconsRH{
  width: 65px;
  height: 65px;
  background-color: white;
  color: #44c3f3;
  font-size: 20px;
  border-radius: 10px;
  border-width: 1.6pt;
  border-style: solid;
  border-color: #44c3f3;
}

.icn-nav{
  width: 70px;
  height: 70px;
  border-style: solid;
  border-radius: 15px;
  border-color: rgb(51, 142, 202);
  border-width: 2px;
  padding: 5px;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  font-size: 30px;
  color: rgb(51, 142, 202);
}

.icn-nav:hover{
  background-color: #bfecfc;
  transition: ease-in 0.2s;
}

@media screen and (min-width: 700px){
  #smallscreennavs{
    display: none;
  }
}

#ratiobr1 {
  height: 20px;
  border-radius: 30px;
  background-color: rgb(56, 177, 207);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#ratiobr2 {
  height: 20px;
  border-radius: 30px;
  background-color: rgb(22, 79, 153);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#ratiobr3 {
  height: 20px;
  border-radius: 30px;
  background-color: rgb(51, 124, 173);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.bgdiv3 {
  width: 98%;
  height: 20px;
  border-radius: 30px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.tabDivDisplay {
  transition: transform ease 300ms;
}

.tabDivDisplay:hover {
  transform: translate(0, -10px);
}

.navimenubtn{
  transition: transform ease 300ms;
}

.navimenubtn:hover {
  transform: translate(0, -8px);
}

#moreif {
  color: white;
  width: 98%;
  height: 258px;
  padding: 10px;
  border-radius: 15px;
  background-color: rgb(22, 79, 153);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
